<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo03" aria-controls="navbarTogglerDemo03" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <a class="navbar-brand" href="#">Navbar</a>

    <h1 class="brand" href="#">Meeting Calendar</h1>
  
    <div class="collapse navbar-collapse" id="navbarTogglerDemo03">
      <ul class="navbar-nav ml-auto mt-2 mt-lg-0">
        <li class="nav-item active">
          <a class="nav-link" (click)="goToSignIn()" style="cursor: pointer;">Sign In</a>
        </li>
      </ul>
      
    </div>
  </nav>


<div class="notfound">

    <h1>Oh, no</h1>
    <h2>You have entered an incorrect path</h2>
    <h3>Please go back to Login page</h3>
</div>