.brand {
    margin-left: 35%;
    color: bisque;
}

.para{
    text-align:center;
}

.fyp{
    text-decoration: underline;
    margin-left: 5% ;
}


.hideshowdata{
    display:none
}

.not-found, .otp-error{
    color: crimson;
    display: none;
}

.otpverified{
    display: none;
    color: green;
}

.enterpassword{
    display: none;
}