<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo03" aria-controls="navbarTogglerDemo03" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <a class="navbar-brand" href="#">Navbar</a>

    <h1 class="brand" href="#">Meeting Calendar</h1>
  
    <div class="collapse navbar-collapse" id="navbarTogglerDemo03">
      <ul class="navbar-nav ml-auto mt-2 mt-lg-0">
        <li class="nav-item active">
          <a class="nav-link" (click)="goToSignIn()" style="cursor: pointer;">Sign In</a>
        </li>
      </ul>
      
    </div>
  </nav>

  <div class="container">
    <div class="para mt-5">
        <h4>Hi Welcome to the Meeting Scheduler application, happy to have you herr</h4>
        <br>
        <h2>Please Sign Up to schedule your meetings</h2>
    </div>

    
        <div class="row p-0 m-0">

            <div class="col-sm"></div>
          
            <div class="col-sm p-5">
          
              <br>
          
              <span>FirstName: </span>
          
              <label for="inputFirstName" class="sr-only">FirstName</label>
          
              <input type="text" id="inputFirstName" class="form-control" [(ngModel)]="firstName" placeholder="FirstName" required autofocus>
          
              <br>
          
              <span>LastName: </span>
          
              <label for="inputLastName" class="sr-only">LastName</label>
          
              <input type="text" id="inputLastName" class="form-control" [(ngModel)]="lastName" placeholder="LastName" required>
          
              <br>
          
              <span>Mobile: </span>
          
              <label for="inputMobile" class="sr-only">Mobile</label>
              <div class="row">
                <div class="col" id="country_code">
               <select id="country_code" class="form-control" [(ngModel)]="code"  width="10"required>
                <option *ngFor="let country of countryCodes | keyvalue" [value]="country.value">
                {{country.key}}
                </option>
              </select>
            </div>
            <div class="col" id="inputMobile">
              <input type="tel" id="inputMobile" class="form-control" [(ngModel)]="mobile" placeholder="Mobile" required>
            </div>
          </div>
              <br>
          
              <span>Email: </span>
          
              <label for="inputEmail" class="sr-only">Email address</label>
          
              <input type="email" id="inputEmail" class="form-control" [(ngModel)]="email" placeholder="Email address" required>
          
              <br>
          
              <span>Password: </span>
          
              <label for="inputPassword" class="sr-only">Password</label>
          
              <input type="password" id="inputPassword" class="form-control" [(ngModel)]="password" placeholder="Password" required>
          
              <br>
              
              <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio1" [(ngModel)]="authorisation" value="admin">
                <label class="form-check-label" for="inlineRadio1">Admin</label>
              </div>
              <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio2" [(ngModel)]="authorisation" value="user">
                <label class="form-check-label" for="inlineRadio2">User</label>
              </div>
              
              <br>

              <button class="btn btn-lg btn-primary btn-block" type="button" (click)="signupFuction()">Sign Up</button>
          
            </div>
          
            <div class="col-sm"></div>
          
          </div>
</div>